<h1 class="mt-4">Body Weight</h1>
<br>
<p class="lead mb-4"><%= name %>'s Body Weight Over Time</p>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<%- include ("./messages") %>
<br>
<canvas id="weightChart" ></canvas>

<script>
    const labels = [<% for (let i = 0; i < weights.length; i++) { %>"<%= moment(weights[i].createdAt).format('MM/D/YY') %>",<% } %>];
  
    const data = {
      labels: labels,
      datasets: [{
        label: 'Weight',
        backgroundColor: 'rgb(235, 115, 142)',
        borderColor: 'rgb(255, 99, 132)',
        data: [<% for (let i = 0; i < weights.length; i++) { %><%= weights[i].weight %>,<% } %>
        ],
      }]
    };
  
    const config = {
      type: 'line',
      data: data,
      options: {
          elements: {
              point: {
                  radius: 3,
                  hitRadius: 10,
                  hoverRadius: 15,
                  hoverBorderWidth: 3
              },
              line: {
                    tension: 0.25
              }
          }
      }
    };
</script>
<script>
  const myChart = new Chart(
    document.getElementById('weightChart'),
    config
  );
</script>